<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все пользователи</title>
</head>
<body>

<div th:each="person : ${people}">
  <a th:href="@{/people/{person_id}(person_id=${person.getPerson_id()})}"
     th:text="${person.getName() + ', ' + person.getYear()}">user</a>
</div>

<br/>
<hr/>

<a href="/people/new">
  <input type="submit" value="Создать нового пользователя"/>
</a>

<br/>
<br/>
<a href="/book">
  <input type="submit" value="Книги"/>
</a>


</body>
</html>