<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/book/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>
<br/>
<hr/>
<label for="query">Количество книг на страницу:</label>
<a href="/book?page=0&book_per_page=5"><input type="submit" value="5"/></a>
<a href="/book?page=0&book_per_page=10"><input type="submit" value="10"/></a>
<a href="/book?page=0&book_per_page=15"><input type="submit" value="15"/></a>
<a href="/book?page=0&book_per_page=20"><input type="submit" value="20"/></a>
<br/>
<hr/>
<div th:each="book : ${book}">
    <a th:href="@{/book/{book_id}(book_id=${book.getBook_id()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">user</a>
</div>
<br/>
<a href="/book?sort_by_year=true">
    <input type="submit" value="Сортировать году выпуска"/>
</a>
<br/>
<hr/>
<a href="/book/new"><input type="submit" value="Добавить книгу в каталог"/></a>
<br/>
<br/>
<a href="/people"><input type="submit" value="Пользователи"/></a>
</body>
</html>